body{
  background-color:white;
  color:black;
  font-family : adobe-garamond-pro;
  height:100%;
  margin:0px;
}
#home-page{
  display:flex;
  flex-direction:column;
  justify-content:center;
}
.header{
  text-align: center;
  height:12em;
}

.header h1{
  font-size:35px;
  font-weight:normal;
}
#navigation ul{
  list-style-type:none;
}
#navigation{
  margin-left : -45px;
}
#navigation li{
  display:inline;
  padding:20px;
  font-size:17px;
}
.header p{
  font-size:50px;
  margin-top:250px;
}
h1 a{
color:black;
text-decoration:none;
}
li a{
color:maroon;
text-decoration:none;
}

#body{
display:flex;
padding : 4em;
}
#text{
width:50%;
padding: 2em;
}
#text h2{
font-size:3em;
text-decoration:none;
font-weight:normal;
}
#text p{
font-size:1.5em;
padding-top :0%;
}
#img{
width:50%;
}
#img img{
width:40em;
height:auto;
}
#body hr{
width : 3em; 
float:left;
margin-top : 1em;
}

#focus {
width:2px;
height : 5px; 
background-color:rgba(238, 238, 238,0.5);
}

.header hr {
width: 14em;
align : center;
}

#footer{
  background-color:#EEEEEE;
  text-align:center;

  padding-bottom:1em;
  
}
#footer #workwm{
  padding-top:1em;
  font-size:50px;
  font-weight:normal;
}
#footer h3{
  padding:0.2em;
  font-size:25px;
  font-weight:normal;
}
#footer p{
  padding:1em;
  font-size:0.9em;
}
#footer hr{
  width:3em;
}
#footer a{
  color:black;
  text-decoration:none;
}
